.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0%;
}

.thumbnail .caption-full{
    padding: 10px;
}

.deleteForm{
    display: inline;
}

textarea{
    resize: none;
}

div.container > div.row > div.regBox{
    width: 40%;
    margin: 30px auto;
}
